.header {
  color: #424242;
  z-index: 100 !important;
}

.headerIndex {
  z-index: 100 !important;
  position: absolute;
  width: 100%;
  height: 80px;
}

.header-container {
  background: linear-gradient(-10deg, #01AF5C, #13e95a, #01AF5C);
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
  background-color: #01AF5C;
  z-index: 1 !important;
}

.headerUpperline {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #008a49;
  z-index: 2 !important;
}

.headerUnderline {
  position: absolute;
  width: 100%;
  height: 6px;
  
  background: #1A995C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5 !important;
}

.logoResize {
  margin-top: 2px;
  margin-bottom: -13px;
  max-width: 230px;
  max-height: 150px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}