.locationPreferencesHeader {
  background-color: #5084cf;
  width: 100%;
  height: 30px;
}

.locationUnderline {
  background: #3e6eb5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
  width: 100%;
  min-height: 4px;
}

.locationPreferences {
  background: #c7dbf9;
  width: 100%;
  height: 15%;
  max-height: 15%;
  padding-right: 7px;
}

.preferenceText {
  font-family: Teko;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 125%;
  /* identical to box height, or 0px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.preferenceTextHeaders {
  margin-bottom: 0;
  font-family: Teko;
  font-style: normal;
  font-size: 30px;
  padding-left: 15px;
  text-align: left;
  letter-spacing: 0.03em;
  text-shadow: 0px 2px 3px #d0d8e6, 0 0 0 #061833d2, 0px 2px 3px #d0d8e6;
  color: #667c9d6b;
}

.checkboxText {
  color: #6d7888;
  font-family: Teko;
  font-style: normal;
  font-weight: bold;
  margin-top: -10px;
}

.locationCheckboxText {
  margin-bottom: 0;
  font-family: Teko;
  font-style: normal;
  font-size: 30px !important;
  padding-left: 15px;
  text-align: left;
  letter-spacing: 0.03em;
  text-shadow: 0px 2px 3px #c7dbf9, 0 0 0 #061833d2, 0px 2px 3px #c7dbf9;
  color: #667c9d6b;
}

.methodText {
  color: rgba(109, 120, 136, 0.78);
  font-family: Teko;
  font-style: normal;
  font-size: 20px;
  margin-left: 5px;
}

.maxTravelText {
  color: rgba(109, 120, 136, 0.78);
  font-family: Teko;
  font-style: normal;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 5px;
  text-align: center;
}

.boxFix {
  font-size: 14px;
  width: 80px;
  height: 23px;
}

.testFix {
  margin-top: -8px;
}

@import url(//fonts.googleapis.com/css?family=Teko);
