.map-container {
  position: relative;
  height: 100vh;
  width: 80%;
  margin-bottom: -10px;
}

.mapboxgl-control-container {
  display: none;
}

.map {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading {
  z-index: 1;
  height: 100%;
  right: 0;
  width: 80%;
  box-shadow: inset 2500px 0 0 0 rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 1);
}

.map-source-options {
  right: 2rem;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h6 {
  font-weight: 900;
  font-family: "Open Sans Light", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

h5 {
  font-weight: 900;
  font-family: "Open Sans Light", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.p1 {
  font-size: 103%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.mapboxgl-popup {
  max-width: 200px;
  min-width: 175px;
}

.mapboxgl-popup-content {
  color: #FDFEFE;
    background-color: #212F3C;
    border-color: #2E4053;
    max-width: 250px;
    box-shadow: 3px 3px 2px #17202A;
    font-family: 'Oswald';
}

.marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* .mapboxgl-canvas {
    left: 0;
  } */
